<div class="modal-header">
    <h3 class="modal-title">CSV Datasink</h3>
</div>
<div class="modal-body">

    <form>
        <div class="form-group">
            <label for="datasinkPath">Path</label>
            <div class="input-group">
                <span class="input-group-addon">{{generalsettings.flinkURL}}:{{generalsettings.flinkPort}}</span>
                <input type="text" class="form-control" id="datasinkPath" placeholder="data/example.csv" ng-model="datasink.filePath">
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
