<div class="modal-header">
    <h3 class="modal-title">Filter</h3>
</div>
<div class="modal-body">

    <form>
        <div class="form-group">
            <label for="numberfilterInputindex">InputIndex (0 indexed, should be of a number type)</label>
            <input type="number" min="0" class="form-control" id="numberfilterInputindex" ng-model="numberfilter.inputIndex">
        </div>
        <div class="form-group">
            <label for="numberfilterOperation">Operation</label>
            <select class="form-control" id="numberfilterOperation" ng-options="operationType as operationType.label for operationType in operationTypes track by operationType.key" ng-model="numberfilter.operationType"></select>
        </div>
        <div class="form-group">
            <label for="numberfilterCompareValue">Operation</label>
            <input type="number" class="form-control" id="numberfilterCompareValue" ng-model="numberfilter.compareValue">
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
