<div ng-controller="MenuCtrl">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="app.dashboard">
            <img alt="Flink Visual Programming" src="/images/logo.png" />
            Flink Visual
        </a>
    </div>

    <ul class="nav navbar-top-links navbar-right" ng-controller="MenuNavbarTopCtrl">
        <li><a class="new-section noselect" ng-click="undoGraph()"><i class="fa fa-undo"></i> Undo</a></li>
        <li><a class="new-section noselect" ng-click="redoGraph()"><i class="fa fa-repeat"></i> Redo</a></li>
        <li><a class="new-section" ng-click="runGraph()"><i class="fa fa-play-circle text-primary"></i> Deploy &amp; Run</a></li>
        <li><a ng-click="getCode()"><i class="fa fa-download"></i> Code</a></li>
        <li><a ng-click="getJar()"><i class="fa fa-download"></i> Jar</a></li>
        <li><a class="new-section" ng-click="clearGraph()"><i class="fa fa-undo"></i> Reset</a></li>
        <li><a class="new-section" ng-href="{{exportHref}}" download="export.json" ng-click="exportGraph()"><i class="fa fa-sign-out"></i> Export</a></li>
        <li>
            <a ng-click="importGraph()"><i class="fa fa-sign-in"></i> Import</a>
            <div class="import-wrapper">
                <input file-import type="file" ng-model="importFile" on-file-loaded="onFileLoaded()" on-file-error="onFileError($error)">
            </div>
        </li>
        <li><a class="new-section" ng-click="openConfiguration()"><i class="fa fa-cog"></i> Config</a></li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" ng-controller="MenuSidebarCtrl">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="search" class="form-control" placeholder="Search..." ng-model="search.label">
                        <span class="input-group-btn" ng-show="showClearSearchButton">
                            <button class="btn btn-default" type="button" ng-click="clearSearch()">
                                <i class="fa fa-times" ></i>
                            </button>
                        </span>
                    </div>
                </li>

                <li ng-repeat="menuItem in menuItems | menuSearchFilter: search">
                    <a ng-click="menuItem.open = !menuItem.open;" ng-drag="{{menuItem.dragData ? true : false}}" ng-drag-data="{{menuItem.dragData}}">
                        <i ng-if="menuItem.faIconClass" class="fa fa-fw" ng-class="menuItem.faIconClass"></i>
                        {{menuItem.label}}
                        <i ng-if="menuItem.subItems.length" class="fa fa-fw fa-caret-down"></i>
                    </a>
                    <ul class="nav nav-second-level" ng-if="menuItem.subItems.length" ng-show="menuItem.open || menuItem.openForFilter">
                        <li ng-repeat="subMenuItem in menuItem.subItems | menuSearchFilter: search">
                            <a ng-drag="{{subMenuItem.dragData ? true : false}}" ng-drag-data="{{subMenuItem.dragData}}">
                                <i ng-if="subMenuItem.faIconClass" class="fa fa-fw" ng-class="subMenuItem.faIconClass"></i> {{subMenuItem.label}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
