<ul class="nav" ng-controller="MenuSidebarCtrl">
    <li class="sidebar-search">
        <div ng-class="{'custom-search-form': true, 'input-group': showClearSearchButton}">
            <input type="search" class="form-control" placeholder="Search..." ng-model="search.label">
            <span class="input-group-btn" ng-show="showClearSearchButton">
                <button class="btn btn-default" type="button" ng-click="clearSearch()">
                    <i class="fa fa-times" ></i>
                </button>
            </span>
        </div>
    </li>

    <li ng-repeat="menuItem in menuItems | menuSearchFilter: search">
        <a ng-click="menuItem.open = !menuItem.open;" ng-drag="{{menuItem.dragData ? true : false}}" ng-drag-data="{{menuItem.dragData}}">
            <i ng-if="menuItem.faIconClass" class="fa fa-fw" ng-class="menuItem.faIconClass"></i>
            {{menuItem.label}}
            <i ng-if="menuItem.subItems.length" class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul class="nav nav-second-level" ng-if="menuItem.subItems.length" ng-show="menuItem.open || menuItem.openForFilter">
            <li ng-repeat="subMenuItem in menuItem.subItems | menuSearchFilter: search">
                <a ng-drag="{{subMenuItem.dragData ? true : false}}" ng-drag-data="{{subMenuItem.dragData}}">
                    <i ng-if="subMenuItem.faIconClass" class="fa fa-fw" ng-class="subMenuItem.faIconClass"></i> {{subMenuItem.label}}
                </a>
            </li>
        </ul>
    </li>
</ul>
